/* ----------------------------- *\
|             $BUTTOMS             |
\* ----------------------------- */

/*
Anidaciones 

.btn {  
  font-size: 15pt;
  &__icon {
    font-size: .6em;
  }
  &.btn--info {
    background-color: $color-info;
  }
}
 El comodín & se usa para hacer referencia al padre.
*/
.btn{
    display: inline-block;
    color: $buttoncolor;
    background-color: $buttonbackgroundcolor;
    line-height: 2.5;
    border-radius: $border-radius;
    font-size: $buttonfontsize;
    &_icon {
        font-size: .6em;
    }
    
    &.btn--info {
     background-color: $color-info;
    }
}


